# App
VLT_PORT=8080
VLT_ENVIRONMENT=DEV
VLT_DEPLOYMENT=SELF_HOSTED

# Database
VLT_DB_HOST=localhost
VLT_DB_PORT=5432
VLT_DB_USER=valuto_user
VLT_DB_NAME=valuto
VLT_DB_PASSWORD=

# Security
VLT_PEPPER=SUPER_ULTRA_SECRET_RANDOM_GENERATED_TOKEN